* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  /* display:flex; */
  /* flex-direction: row; */
  
  height: 55px;
  z-index: 50;
  background-color: mediumblue;
  color:white;
  text-align: center;
  /* padding:4px; */
  /* position:fixed;  */
  left: 0;
  right:0;
  top:0;
  margin-bottom: 50px;
}

/* button{
  border:none;
  margin-left:100px;
  
} */
/* .checkbox-style{
  margin-right: 10px;
} */
/* .grid-style
{
    display:grid;
    grid-template-columns: 1fr 2fr;
} */
/* .add{
  margin-left:8px;
} */
/* .grid-add{
    display:grid;
    grid-template-columns: 1fr 2fr;
} */
footer{
    background-color: mediumblue;
    color:white;
    text-align: center;
    position: absolute;
   /* padding:5px; */
    width:100%;
    bottom: 0;
    position: fixed;
}
.form-control{
  margin-right: 5px;
}
.bottom-para{
  margin: 5px;
}
.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

